{% extends 'base.html' %}

{% block content %}

<div class="card-body">
<h1>Acceder</h1>

<form method="post" action="{% url 'loginName' %}">
    {% csrf_token %}
    Usuario:
    <br>
    <input type="text" name="username" />
    <br>
    Contraseña:
    <br>
    <input type="password" name="password"/>
    <br>

    {% if error %}
    {{error}}
    <br>
    Puedes crear una cuenta dando click <a href="{% url 'register_name2' %}"> aqui </a>
    {% endif %}

    <br>
    <input class="btn btn-primary" type="submit" value="Acceder">
</form>
</div>
{% endblock %}

