{% load static %}


<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dist/js/jquery.ui.touch-punch-improved.js' %}"></script>
<script src="{% static 'dist/js/jquery-ui.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist_gfruit/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist_gfruit/js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dist_gfruit/js/custom.min.js' %}"></script>
<!-- this page js -->
<script src="{% static 'assets/libs/moment/min/moment.min.js' %}"></script>
<script src="{% static 'assets/libs/fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script src="{% static 'dist_gfruit/js/pages/calendar/cal-init.js' %}"></script>

<script type="text/javascript">
function isFloat(n){
    return Number(n) === n && n % 1 !== 0;
}
function isInt(n){
    return Number(n) === n && n % 1 === 0;
}

function update_price_quantity(event) {
    let qty = event.value

    var qty_to_send = qty.replace(",", "-");

    qty_to_send = qty_to_send.replace(".", "-");



        const input = $(event);
        const url = input.attr('data-href') + qty_to_send;
        //console.log("input:", input);
        //console.log("url:", url);

        $.ajax({
            method: 'GET',
            url: url,
            dataType: 'json',

            success: function (data) {

            $('#order_item_container').html(data.result)
            },
      error: function (xhr, ajaxOptions, thrownError) {

        //alert(xhr.status);
        //alert(thrownError);
        alert("La cantidad digitada es incorrecta");
        event.value = "";
      }
        })

}





    </script>