{% extends 'base.html' %} {% load render_table from django_tables2 %}

{% block extra_js %}
    {% include 'ajax_calls.html' %}
    {% include 'include/js.html' %}
{% endblock %}



{% block content %}
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">{{ instance.date }} - {{ instance }}</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Pagina Principal</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ instance }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="padding:0px;">
                    <div class="card">
                        <div class="header">
                            <h5 class="card-title" style="padding:10px">Productos</h5>
                            <input data-href='{% url "client_ajax-search" instance.id %}' type="text" class="form-control search_button" placeholder="Search">

                        </div>
                        <div class="card-body" id="product_container">


                            {% include 'app_client/include/client_product_container.html' %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div id='order_item_container' class="card-body">
                            <div id='qty_alrt' style="fontWeight = 'bold'"></div>
                            {% include 'app_client/include/client_order_container.html' %}
                        </div>
                    </div>


            </div>
        </div>
        </div>
    </div>

{% endblock %}



