{% extends 'base.html' %}

{% block content %}

<h1>Crear Orden</h1>

<form method="post" action="{% url 'createName' %}" enctype="multipart/form-data">
    {% csrf_token %}
    N:
    <br>
    <input type="text" name="title" />
    <br>
    Body:
    <br>
    <input type="textbox" name="body"/>
    <br>
    URL:
        <br>
    <input type="textbox" name="url"/>
    <br>
    Icon:
    <br>
    <input type="file" name="icon"/>
    <br>
        Image:
    <br>
    <input type="file" name="image"/>
    <br>
    {% if error %}
    {{error}}
    {% endif %}

    <br>
    <input class="btn btn-primary" type="submit" value="Add product">
</form>
{% endblock %}
